* {font-family: 'Dosis', sans-serif;}

/* HEADER */

header{
    display: flex; 
    list-style: none;
    padding-left: 10px;
    align-items:  center;
}

#logo{
font-weight: 700;
font-size: x-large;
border: 2px solid black;
display: inline;
padding: 5px 20px;
background-color: palevioletred;
border-radius: 100px;
}

ul {
   display: flex;
   list-style: none;
   padding-left: 10px;
}

li{
    margin-left: 3rem;
}

a{
    color: black; 
}

@media screen and (max-width:587px) {
    header, ul {
        flex-direction: column;
        align-items: start;
    }

ul {
    margin-top: 1rem;
}

    li{
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

/* MAIN */
body {
    background-color: mistyrose;
}
h1 { text-align: center;
    color: palevioletred;
    text-decoration-line: underline;
    border-top: 1px solid black;
    margin: 10;
    padding: 12px


}

#mainbody {
    text-align: justify;
    padding: 5px;
}

.main-img {width: 100%;
border: 1px solid black;
}

/* CATEGORY SECTION  */

#head2 {
font-size: 30px;
padding: 5px;
}
.creations {
    text-align: center;
}

.mycreationsimg {
    width: 100%;
    border: 1px solid black;
 }
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and  (max-width: 458px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and  (min-width: 700px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* conctact SECTION  */

 #contacthead{
    font-size: larger;
    text-align: center;
    }

#fill.in{
align-items: end;
}

.contactinfo{
text-align: center;
font-size: medium;
font-style: unset;
}
button{
    background-color: antiquewhite;
}

/* About SECTION  */

.about {
    width: 80% ;
    align-items: center;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#eames{
    text-align: center;
}

/* FOOTER  */
footer {
    margin-top: 3rem;
    background-color: palevioletred;
    padding: 15px;
    border-top:  1px solid black 
}
#foot {
    color: white;
} 

